<div class="card" style="margin: 20px;">
  <div class="card-header" style="margin:20px">
     <h3> <strong>Chart List</strong></h3>
      
  </div>

  <div class="card-body">

    
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Select Date</mat-label>
      <mat-date-range-input
        [formGroup]="campaignOne"
        [rangePicker]="campaignOnePicker"
        [comparisonStart]="campaignOne.value.start"
        [comparisonEnd]="campaignOne.value.end">
        <input matStartDate placeholder="Start date" formControlName="start">
        <input matEndDate placeholder="End date" formControlName="end">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
    </mat-form-field>

    <button type="button" class="btn btn-success" style="margin: 30px;height:40px" (click)="FilterData()">Filter</button>

    
      

      
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          
      
          
          <ng-container matColumnDef="websiteId">
            <th class="th-center" mat-header-cell *matHeaderCellDef mat-sort-header > 
             <strong>Web Site Id</strong> </th>
            <td mat-cell *matCellDef="let element"> 
              {{element.websiteId}}
            </td>
          </ng-container>
        
          <ng-container matColumnDef="chats">
            <th class="th-center" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Total Charts</strong> </th>
            <td mat-cell *matCellDef="let element"> {{element.chats}} </td>
          </ng-container>
        
          
          <ng-container matColumnDef="missedChats">
            <th class="th-center" mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Missed Charts</strong> </th>
            <td mat-cell *matCellDef="let element"> {{element.missedChats}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="selection.toggle(row)"></tr>
         
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
     

</div>



